/***  Header  ***/

#header {
  height: 94px;
  width: 878px;
  background-color: #D9E0E6;
}

#header img {
  display: inline-block; 

}

#header p {
  display: inline-block;
  vertical-align: top;
  margin: 32px 0px 0px 233px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/*  Nav-Bar  */

#header ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 25px;
  border-top: 1px solid rgb(195, 195, 195);
}

#header li {
  display: inline-block;
}

#header a {
  text-decoration: none;
  font-size: 9px;
  font-family: sans-serif;
  font-weight: bold;
  color: #566B8E;
  padding: 6px 12px 5px 12px;
  border-left: 1px solid rgb(195, 195, 195);
}

/***  Main Content  ****/

#content {
  height: 480px;
  width: 852px;
  padding-top: 12px;
  padding-left: 26px;
  background-color: black;
}

.bulk-fill {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 9px;
  font-family: sans-serif;
  color: #9AAD75;
} 

.main {
  display: inline-block;
  background: url("../images/main_pic.png");
  height: 220px;
  width: 350px;
  background-size: 350px;
  background-repeat: no-repeat;
  margin-right: 8px;
  border: 4px solid white;
}

#about {
  display: inline-block;
  vertical-align: top;
  height: 228px;
  width: 429px;
  background-color: #373737;
  padding-right: 26px;
}

#about-heading {
  display: block;
  width: 429px;
  margin: 0px 0px 15px 0px;
  padding: 4px 15px 4px 10px;
  font-size: 11px;
  font-weight: bold;
  color: black;
  background-color: #FDD520;
}

#about>span:nth-child(2) {
  display: block;
  margin-left: 16px;
  color: white;
  font-size: 14px;
}

#about p {
  margin: 14px -12px 15px 16px;
  color: white;
  font-size: 11px;
  text-align: left;
}

.bold {
  font-weight: bold;
  color: white;
}

.logo {
  display: inline-block;
  vertical-align: top;
  background: url("../images/logo.png");
  height: 18px;
  width: 39px;
  margin: 4px 12px 0px 0px;
  margin-right: 12px;
  margin-left: 10px;
  background-size: 54px 12px;
  background-repeat: no-repeat;
  border-radius: 3px;
}

#bottom {
  height: 225px;
  width: 861px;
  /* margin-right: -24px; */
}

.bottom-info {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  height: 211px;
  margin-right: 16px;
  background-color: white;
}

.info-heading {
  background-color: #FDD520;
  margin: 0px;
  padding: 4px 0px 4px 10px;
  font-size: 10px;
  font-weight: bold;
}

.info-image {
  height: 85px;
  width: 190px;
}

.info-description {
  margin: 5px 28px 0px 14px;
  font-size: 8.5px;
  font-family: sans-serif;
  text-align: left;
}

.bottom-info input {
  margin: 10px 0px 0px 84px;
}

.bottom-info:last-child input:last-child{
  margin-top: 5px;
}